<meta http-equiv="Content-Type" content="text/html; charset=utf-8">


{% load static %}
<style type="text/css">
  .logo {
    margin-right: 30px;
    width: 200px;
    float: right;
  }
  .bar-code {
    margin-top: 30px;
    margin-left: 30px;
    float: left;
  }
  .body {
    margin: 0px auto;
    padding-top: 150px;
    width: 75%;
  }
  .title {
    padding: 5px;
    background: grey;
    color: white
  }
  h1 {
    text-align: center;
  }
  th {
      float: left;
  }
  td {
    white-space:pre
  }

</style>


<div class="header">
  <img class="logo" src="{{SERVER_URL}}static/images/logo_erasme.png" alt="logo erasme">
</div>

<div class="body">

  <div class="title">
    <h1> Modifications des traitements </h1>
  </div>
  <br><br>

  <h2> Patient </h2><hr>
  <table class="table" id="info">
    <tbody>
      <tr><th>Nom :</th>                <td>{{patient.lastname}}</td></tr>
      <tr><th>Prénom :</th>             <td>{{patient.firstname}}</td></tr>
      <tr><th>Date de naissance :</th>  <td>{{patient.ddn | date:'d/m/Y'}}</td></tr>
      <tr><th>Poids :</th>              <td>{{patient.weight}} kg</td></tr>
      <tr><th>Taille :</th>             <td>{{patient.height}} cm</td></tr>
    </tbody>
  </table>
  <br><br>

  <h2> Intervention </h2><hr>
  <table class="table" id="intervention">
    <tbody>
      <tr><th>Nom du chirurgien :</th>    <td>{{patient.chirurgien}}</td></tr>
      <tr><th>Type de chirurgie :</th>    <td>{{patient.chirurgie}}</td></tr>
      <tr><th>Date de la chirurgie :</th> <td>{{patient.ddi | date:'d/m/Y'}}</td></tr>
    </tbody>
  </table>
  <br><br>

  <h2> Consultation </h2><hr>
  <table class="table" id="consultation">
    <tbody>
      <tr><th>Médecin :</th>  <td>{{patient.consultant}}</td></tr>
      <tr><th>Date de la consultation :</th>           <td>{{patient.ddconsult | date:'d/m/Y'}}</td></tr>
    </tbody>
  </table>
  <br><br>

  <h2> Modifications à faire (algorithme {{patient.algo}}) </h2><hr>

  <table class="table table-bordred table-striped " id="result">
    <tbody>
      <tr>
        <td><strong>Traitements</strong></td>
        <td><strong>Modalités d'interruption</strong></td>
      </tr>
      {% for v in patient.traitements.values %}
        <tr>
          <td>{{v.traitement}}</td>
          <td>{{v.conclusion}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


</div>
