{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}


{% block content %}

<style type="text/css">
  	.submit-button{
  		max-width: 200px;
  	}
    .h3 {
      margin-top: 150px;
    }
    input {
      border-style: hidden;
    }
    .header {
      display: flex;
      justify-content: space-between;
    }
</style>


<a href="{% url 'patient:patients' 'all' %}" style="border-radius: 0;" class="btn btn-dark"><</a>
<br><br>


<div class="container px-4">
  <hr>

  <h2 align="center"> Patient n°{{patient.hosp_num}} </h2>

  <hr>
  <div class="info container">
    <a href="{% url 'patient:edit' patient.slug %}" style="float: right;" class="btn btn-outline-success">Modifier</a>
    <h4> Rappel des informations saisies </h4>
    <p><strong>Numéro de registre UTAH: {{patient.incl_num}} </strong></p>
    {% if ddi %}
      <p>Intervention prévue le {{patient.ddi | date:'d/m/Y'}} </p>
    {% endif %}
    <p>Taille: {{patient.get_height}}. Poids: {{patient.weight}} kg </p>
    <p>Date de naissance : {{patient.ddn | date:'d/m/Y'}} {% if patient.ddi %}, soit {{patient.get_age_at_intervention}} ans le jour de l'intervention {% endif %} </p>

    {% if patient.chirurgie %}
      <p>Catégorie de l'intervention : {{patient.chirurgie}}</p>
    {% endif %}
    {% if patient.intervention %}
      <p>Intitulé de l'intervention : {{patient.intervention}}</p>
    {% endif %}
    {% if patient.chirurgien %}
      <p>Chirurgien : {{patient.chirurgien}}</p>
    {% endif %}
    <br>

    <h4> Proposition de prise en charge </h4>
      <a class='btn btn-link' href="{% url 'algorithm:algo' patient.slug %}"> Quel traitement arréter et comment ? </a>
      <br>
      <a class='btn btn-link'  href="{% url 'patient:postop' patient.slug %}">Quand reprendre le traitement ?</a>
    <br><br>
    <a class='btn btn-primary' href="{% url 'personal:pdf' patient.slug 'False' %}"> Afficher les résultats </a>
    <a class='btn btn-primary' href="{% url 'personal:pdf' patient.slug 'True' %}"> Télécharger les résultats </a>
  </div>

</div>
<br>
<div class="card-footer text-muted">
  Modifié le {{patient.date_updated |date:'d/m/Y'}} par @{{patient.author}}
</div>


{% endblock content %}
