{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}


{% block content %}

<style type="text/css">

  	.submit-button{
  		max-width: 200px;
  	}
    .h3 {
      margin-top: 150px;
    }
    input {
      border-style: hidden;
    }
    .header {
      display: flex;
      justify-content: space-between;
    }
</style>


<!-- <div class="btn-group-vertical" style="float: right;">
  <a type="button" href="{% url 'patient:create' %}" class="btn btn-outline-success">Quel traitement arréter et comment ?</a>
  <a type="button" href='#' class="btn btn-outline-success">Quand reprendre le traitement ?</a>
</div> -->
<a href="{% url 'patient:patients' 'all' %}" style="border-radius: 0;" class="btn btn-dark"><</a>
<br><br>


<div class="container px-4">

  <a class='btn btn-primary' href="{% url 'algorithm:algo' slug %}"> Lancer l'algorithme </a>

  <div class="header">
    <h4 class="h4"> Patient n°{{incl_num}}</h4>
  </div>
  <hr>

  <h2 align="center"> Proposition de prise en charge </h2>

  <hr>
  <div class="info container">
    <a href="{% url 'patient:edit' slug %}" style="float: right;" class="btn btn-outline-success">Modifier</a>
    <h4> Rappel des informations saisies </h4>
    <p><strong>Numéro de registre UTAH: {{incl_num}} </strong></p>
    <p>Intervention prévue le {{ddi|date:'d-m-Y'}} </p>
    <p>Taille: {{height}}. Poids: {{weight}} kg </p>
    <p>Date de naissance : {{ddn|date:'d-m-Y'}}, soit {{age}} ans le jour de la chirurgie.</p>
    <p>Catégorie de l'intervention : {{chirurgie}}</p>
    <p>Intitulé de l'intervention : {{intervention}}</p>

    <br>
    <form id='progresss-handle' action="{% url 'patient:detail' slug %}" method="post"> {% csrf_token %}
      <button id="start-button" style="float: right;" class="btn btn-outline-success" type="submit"> Mettre à jour </button>
    </form>
    <h4> Traitements proposés</h4>


      <div id="progress-bar" class='progress-bar progress-bar-striped progress-bar-animated' role='progressbar' style="height:20px; width: 0%; border-radius: 5px">
        <a id="stop-button" class="btn btn-danger" style="visibility: hidden;" href="{% url 'patient:detail' slug %}">Stop</a>
      </div>
      <a class='btn btn-primary' href="{% url 'personal:pdf' slug 'False' %}"> Afficher le PDF </a>
      <a class='btn btn-primary' href="{% url 'personal:pdf' slug 'True' %}"> Télécharger le PDF </a>


  </div>
  <br>
  <div class="card-footer text-muted">
    Modifié le {{date_updated |date:'d/m/Y'}} par @{{author}}
  </div>
</div>

{% include 'patient/snippets/progress_calculation.html' with pbar='progress-bar' pstart='start-button' pstop='stop-button'%}



{% endblock content %}
