{% extends 'base.html' %}
{% load bootstrap %}


{% block content %}
<style type="text/css">
  td {
    vertical-align:middle;
    text-align:center;
  }
  th {
    vertical-align:middle;
    text-align:center;
  }

  .patients {
	    padding: 15px;
  	}

</style>

<a href="{% url 'home' %}" class="btn btn-dark" style="border-radius: 0;"><</a>
<br><br>
<div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 2fr;">
  <div class="d-flex align-items-left">
    <form class="w-100 me-3" method="get">
      <div class="form-floating">
        <input class="form-control"  name="q" type="search" id="id_q" placeholder="recherche">
        <label for="id_q">Rechercher des patients</label>
        {% if n_patients == 0 %}
        <p>Aucun patients trouvés</p>
        {% elif n_patients == 1 %}
        <p>1 patient trouvé</p>
        {% else %}
        <p>{{n_patients}} patients trouvés</p>
        {% endif %}
      </div>
    </form>
  </div>

{% if n_patients %}
<br>

<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>

<div class="table-responsive">
<table id="mytable" class="table table-bordred table-striped sortable">
  <thead>
    <th>N°Patient</th>
    <th>Intervention</th>
    <th>Chirurgie</th>
    <th>Pathologie</th>
    <th>Traitement 1</th>
    <th>Traitement 2</th>
    <th>Auteur</th>
  </thead>
<tbody>
  {% for file in patients %}
  <tr>
    <th><a class="btn btn-success" href="{% url 'patient:detail' file.slug %}">{{file.incl_num}}</a> </th>
    <td>{{file.intervention}}</td>
    <td>{{file.chirurgie}}</td>
    <td>{{file.pathologie}}</td>
    <td>{{file.traitement1}}</td>
    <td>{{file.traitement2}}</td>
    <td>{{file.author}}</td>
  </tr>

  {% endfor %}
</tbody>

</table>
</div>
{% include 'patient/snippets/patient_pagination.html' with patients=patients %}

{% endif %}


<script type="text/javascript">
	document.getElementById("id_q").value = "{{query}}"
</script>

{% endblock content %}
