{% if is_editable %}
  {% for field in form %}
    <!-- Combo box with bootstrap -->
    {% if field.input_type == 'select' %}
      <div class="form-floating">
        <select class="form-select" id={{field.name}} name={{field.name}}>
          {% for value, label in field.field.choices %}
              <option value="{{value}}"{% if field.value == value %} selected{% endif %}>{{ label }}</option>
          {% endfor %}
        </select>
        <label for={{field.name}}>{{field.label}}</label>
      </div>

    <!-- other inputs with bootstrap -->
    {% else %}
      <div class="form-floating">
        {% if field.input_type == 'date' %}
          <input type="{{field.input_type}}" name={{field.name}} id={{field.name}} class="form-control" placeholder={{field.label}} required value="{{field.value|date:'Y-m-d'}}">
        {% else %}
          <input type="{{field.input_type}}" name={{field.name}} id={{field.name}} class="form-control" placeholder={{field.label}} required value="{{field.value}}">
        {% endif %}

        <label for={{field.name}}>{{field.label}}</label>
      </div>
    {% endif %}
  {% endfor %}

<!-- Not editable form as table -->
{% else %}
<table class="table table-striped">

  {% for field in form %}

      <tr>
        <th> {{field.label}}</th>

        {% if field.input_type == 'select' %}
        <td> {{field.value}} </td>
        {% elif field.input_type == 'date' %}
        <td> {{field.value|date:'d-m-Y'}} </td>
        {% else %}
        <td> {{field.value}} </td>
        {% endif %}
      </tr>
  {% endfor %}


</table>

{% endif %}
