{% extends 'base.html' %}
{% load static %}

{% block content %}
<style type="text/css">

	@media (max-width: 768px) {
		.right-column{
			margin-left: 0px;
		}
	}

	@media (min-width: 768px) {
		.right-column{
			margin-left: 20px;
		}
	}

	.patient-file-container{
		margin-bottom: 20px;
		width: 100%;
	}
	.create-include-bar{
		background-color: #fff;
		margin-bottom:20px;
	}

	.left-column{
		padding:0px;
	}

	.right-column{
		padding:0px;
	}
	.lead{
		font-size: 17px;
	}
</style>

<a class="btn btn-outline-primary" href="{% url 'process' %}">Accéder aux processus</a>



{% endblock content %}
