{% extends 'base.html' %}

{% block content %}

<div class="container">

	<div class="d-flex flex-column">
		  <p class="m-auto p-2">
				Les instructions de réinitialisation de votre mot de passe vous ont été envoyé par mail.
		  </p>
		  <p class="m-auto p-2">
				Si vous ne recevez pas l'email, vérifiez que l'adresse mail spécifié est bien celle utilisé pour votre compte,
				et vérifiez vos spams.
		  </p>
		  <p class="m-auto p-2"><a href="{% url 'home' %}">Retour à l'écran d'accueil</a></p>
	</div>
</div>

{% endblock %}
