<script type="text/javascript">
  function printd(d){
    window.alert(JSON.stringify(Object.entries(d), null, 4));
  }
  var inp_algo = {{algo|safe}};
  var questions = {{quests|safe}};
  var current_qid = null;
  var responses = {'algo': 'Français'};

  function ask_question(qid) {
    if (current_qid != null) {
      document.getElementById(current_qid).style.display = 'none';
    }
    document.getElementById(qid).style.display = 'inline';
    current_qid = qid
  }


  function algorithm(algo=null){
    if (algo == null) {
      algo = inp_algo;
    }

    for (const [key, subalgo] of Object.entries(algo)) {
      if (key in responses) {
        return algorithm(subalgo[responses[key]])
      }
      else if (key in questions) {
        return ask_question(key)
      }
      else {
        window.alert("REPONSE: "+key);
      }
      if (typeof subalgo == "string"){
        window.alert("CONCLUSION: "+subalgo);
      }
      else {
        algorithm(subalgo);
      }
    }
    return "";
  }

</script>
