<script type="text/javascript">
  const none_output = "Condition non remplie.";

  function algorithm(){

    //---------------------------- TABLEAU 1 ---------------------------------
    if (flags('traitement1').includes('Antiagregant plaquettaire')) {

      if (G('traitement1') == "Aspirine, Asaflow, Cardioaspirine") {
        if (G('pathologie') == 'Prévention primaire') {
          return bleeding(['Arrétez ou continuez le traitement.', 'Arrétez le traitement.', 'Arrétez le traitement.']); // ligne 1 (tableau 1)
        }
        else if (G('pathologie') == "Prévention secondaire" && G('traitement2') == 'Aucun') {
          return bleeding(['Continuez le traitement.', 'Continuez le traitement.', 'Arrétez le traitement.']); //ligne 2 (tableau 1)
        }
      }
      else if (G('traitement1') == "Clopidogrel, PLAVIX" && G('pathologie') == "Prévention secondaire" && G('traitement2') == 'Aucun') {
        return bleeding(['Continuez le traitement.', "Arrétez le traitement. Bridge par l'aspirine.", 'Arrétez le traitement.']); //ligne 3 (tableau 1)
      }
      else if (G('traitement1') == "Stents Cardiaques" && G('traitement2') != "Aucun") {
        if (G('stent_condition') != 'Autres') {
          return bleeding(['Postpone the procedure. If impossible, continue the bitherapy.',
                           'Postpone the procedure. If impossible, stop the anti-P2Y12, continue the aspirin.',
                           'Postpone the procedure. If impossible, stop the bitherapy.']); //ligne 4 (tableau 1)
        }
        else {
          return bleeding(['Continue the bitherapy.',
                           'Stop the anti-P2Y12. Continue the aspirin.',
                           'Stop the bitherapy.']); //ligne 5 (tableau 1)
        }
      }
    }

    else if (flags('traitement1').includes('ACOD')) {

      //---------------------------- TABLEAU 2 ---------------------------------
      if (flags('traitement1').includes('AVK')) {
        if (G('thromboembolism_risk') == 'faible') {
          return bleeding(['Continuation', 'Continuation']); // ligne 1 (tableau 2)
        }
        else if (G('thromboembolism_risk') == 'élevé') {
          return bleeding(['Stop at J-3', 'Bridge at J-7']); // ligne 1 (tableau 2)
        }
      }

      //---------------------------- TABLEAU 3 ---------------------------------
      var res_before = "";
      var res_after = none_output;

      if (G('bleeding_risk_2') == 'faible') {
        res_before = 'no taking the night before or the morning of the invasive gesture.';
        res_after = 'restart at the usual time and at least 6 hours after the end of the procedure.';
      }

      else if (G('bleeding_risk_2') == 'élevé') {

        // avant la procédure
        if ((flags('traitement1').includes('xaban') || flags('traitement2').includes('xaban')) && G('cockroft_1') == 'Oui') {
          res_before = "Dernière prise à J-3."; // ligne 1 (tableau 3)
        }

        if (G('traitement1') == "Dabigatran, PRADAXA" || G('traitement2') == "Dabigatran, PRADAXA") {
          if (G('cockroft_2') == "> 50 mL/min") {
            res_before = "Dernière prise à J-4." // ligne 2 (tableau 3)
          }
          else if (G('cockroft_2') == "30-49 mL/min") {
            res_before = "Dernière prise à J-5." // ligne 3 (tableau 3)
          }
        }

        // après la procédure
        if (flags('traitement1').includes('thrombo') || flags('traitement2').includes('thrombo')){
          res_after = "Anticoagulants at a prophylactic dose at least 6 hours after the procedure." // ligne 3 (tableau 3)
        }
        else {
          res_after = "Anticoagulants in curative doses as soon as haemostasis allows it." // ligne 4 (tableau 3)
        }
      }
      return res_before + "No bridge. No dosage.\n" + res_after;
    }
    return none_output
  }


  function bleeding(results) {
    if (results.length == 3) {
      if (G('bleeding_risk_1') == 'faible'){
        return results[0];
      }
      else if (G('bleeding_risk_1') == 'intermédiaire'){
        return results[1];
      }
      else if (G('bleeding_risk_1') == 'élevé'){
        return results[2];
      }
    }
    else if (results.length == 2) {
      if (G('bleeding_risk_2') == 'faible'){
        return results[0];
      }
      else if (G('bleeding_risk_2') == 'élevé'){
        return results[1];
      }
    }
    return none_output
  }
  </script>
