{% extends 'base.html' %}
{% load bootstrap %}


{% block content %}

<style type="text/css">
  .create-form {
	    width: 50%;
	    max-width: 100%;
	    padding: 15px;
	    margin: auto;
  	}

  	.submit-button{
  		max-width: 200px;
  	}
    .h3 {
      margin-top: 150px;
    }
</style>

<a href="{% url 'home' %}" class="btn btn-outline-dark">< Retour</a>

<form method="post" class="create-form">
  {% csrf_token %}

  <h3> Saisie des données pré-opératoires </h3>
  <hr>
  {% include 'inclusion/snippets/form2html.html' %}

  <button type="submit" class="btn btn-success">Envoyer</button>
</form>



{% endblock content %}
