{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}


{% block content %}

<style type="text/css">

  	.submit-button{
  		max-width: 200px;
  	}
    .h3 {
      margin-top: 150px;
    }
    input {
      border-style: hidden;
    }
    .header {
      display: flex;
      justify-content: space-between;
    }
</style>

<a href="{% url 'home' %}" class="btn btn-outline-dark">< Retour</a>
<br><br>

<div class="container px-4">
  <div class="header">
    <h4 class="h4"> Patient n°{{incl_num}}</h4>

    <form id='progresss-handle' action="{% url 'inclusion:detail' slug %}" method="post"> {% csrf_token %}
      <button id="start-button" class="btn btn-success" type="submit"> Start </button>
    </form>

    <a href="{% url 'inclusion:edit' slug %}" class="btn btn-outline-success">Modifier</a>
  </div>
  <hr>

  <h2 align="center"> Proposition de prise en charge </h2>

  <hr>
  <div class="info container">
    <h4> Rappel des informations saisies </h4>
    <p><strong>Numéro de registre UTAH: {{incl_num}} </strong></p>
    <p>Intervention prévue le {{ddi|date:'d-m-Y'}} </p>
    <p>Taille: {{height}}. Poids: {{weight}} kg </p>
    <p>Date de naissance : {{ddn|date:'d-m-Y'}}, soit {{age}} ans le jour de la chirurgie.</p>
    <p>Catégorie de l'intervention : {{chirurgie}}</p>
    <p>Intitulé de l'intervention : {{intervention}}</p>

    <br>
    <h4> Traitements proposés</h4>


      <div id="progress-bar" class='progress-bar progress-bar-striped progress-bar-animated' role='progressbar' style="height:20px; width: 0%; border-radius: 5px">
        <a id="stop-button" class="btn btn-danger" style="visibility: hidden;" href="{% url 'inclusion:detail' slug %}">Stop</a>
      </div>
      <a class='btn btn-primary' href="{% url 'personal:pdf' slug 'False' %}"> Afficher le PDF </a>
      <a class='btn btn-primary' href="{% url 'personal:pdf' slug 'True' %}"> Télécharger le PDF </a>
  </div>

  <br>
  <div class="card-footer text-muted">
    Modifié le {{date_updated |date:'d/m/Y'}} par @{{author}}
  </div>
</div>

{% include 'inclusion/snippets/progress_calculation.html' with pbar='progress-bar' pstart='start-button' pstop='stop-button'%}



{% endblock content %}
