{% extends 'base.html' %}
{% load bootstrap %}


{% block content %}

<style type="text/css">
  .details {
	    width: 50%;
	    max-width: 100%;
	    padding: 15px;
	    margin: auto;
  	}

  	.submit-button{
  		max-width: 200px;
  	}
    .h3 {
      margin-top: 150px;
    }
    input {
      border-style: hidden;
    }

</style>

<a href="{% url 'home' %}" class="btn btn-outline-dark">< Retour</a>

<div class="details">
  <!-- <fieldset disabled="disabled"> -->

    <h3> Patient n°{{incl_num}}</h3><hr>
    {% include 'inclusion/snippets/form2html.html' %}

  <!-- </fieldset> -->
  <div class="card-footer text-muted">
    Modifié le {{date_updated |date:'d/m/Y'}} par @{{author}}
  </div>
  <a href="{% url 'inclusion:edit' slug %}" class="btn btn-success">Modifier</a>

</div>

<div class="details">

</div>

{% endblock content %}
