{% extends 'base.html' %}
{% load bootstrap %}


{% block content %}

<style type="text/css">

  	.submit-button{
  		max-width: 200px;
  	}
    .h3 {
      margin-top: 150px;
    }
    input {
      border-style: hidden;
    }
    .header {
      display: flex;
      justify-content: space-between;

    }


</style>

<a href="{% url 'home' %}" class="btn btn-outline-dark">< Retour</a>
<br><br>

<div class="container px-4">
  <div class="header">
    <h4 class="h4"> Patient n°{{incl_num}}</h4>
    <a href="{% url 'inclusion:edit' slug %}" class="btn btn-success">Modifier</a>
  </div>
  <hr>

  <h2 align="center"> Proposition de prise en charge </h2>

  <hr>
  {% include 'inclusion/snippets/resume.html' %}
  <br>
  <div class="card-footer text-muted">
    Modifié le {{date_updated |date:'d/m/Y'}} par @{{author}}
  </div>
</div>




{% endblock content %}
