<style type="text/css">
  td {
    vertical-align:middle;
  }
</style>

<br>
<div class="container">
  <div class="row">


  <div class="col-md-12">
  <h4>{{n_patients}} patients trouvés</h4>

  {% if n_patients %}
  <hr>
    <div class="table-responsive">
      <table id="mytable" class="table table-bordred table-striped">
        <thead>
          <th></th>
          <th>n°IPP</th>
          <th>Prénom</th>
          <th>Nom</th>
          <th>Auteur</th>
          <th>Date d'inclusion</th>
          <th>Date de modification</th>
        </thead>

      <tbody>
        {% for file in patient_files %}
        <tr>
          <th><a class="btn btn-primary" href="{% url 'inclusion:detail' file.slug %}">{{file.id}}</a> </th>
          <td>{{file.nipp}}</td>
          <td>{{file.first_name}}</td>
          <td>{{file.last_name}}</td>
          <td>{{file.author}}</td>
          <td>{{file.date_published}}</td>
          <td>{{file.date_updated}}</td>
        </tr>

        {% endfor %}
      </tbody>

  </table>
  </div>
{% endif %}
