{% load static %}

<style type="text/css">
  #hello {
    width: 100%;
    margin-right: 20px;
  }
  #hello-text {
    font-size: 20px;
    float: right;
  }

  #navigation {
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
  }
  #dropdown {

  }
  header {
    padding: 20px;
    display: flex;
    align-items: center;
  }
</style>


<header class="bg-dark text-white">
  <a id='ppage' class="nav-link px-2 text-white" href="#">
    <img src="{% static 'images/previous_page.svg' %}" class="icon" width="40px" />
  </a>

	<div id="navigation">
    <a class="nav-link px-2 text-secondary" href="{% url 'home' %}">Accueil</a>
    <a class="nav-link px-2 text-white" href="/admin/">Administration</a>
    <a class="nav-link px-2 text-white" href="#">Contact</a>
  </div>

  <div id='hello'>
    <h2 id='hello-text'> {{ user.alias }}</h2>
  </div>

  <div id="dropdown">
    <a href="#" class="link-light text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
      {% if user.profile_picture_is_valid %}
      <img src="{{user.profile_picture.url}}" alt="mdo" width="32" height="32" class="rounded-circle">
      {% else %}
      <img src="{% static 'images/default_profile_picture.png' %}" alt="mdo" width="32" height="32" class="rounded-circle">
      {% endif %}

    </a>
    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
      <li><a class="dropdown-item" href="{% url 'patient:patients' 'is_author' %}">Mes patients</a></li>
      <li><a class="dropdown-item" href="{% url 'account' %}">Mon compte</a></li>
      <li><a class="dropdown-item" href="{% url 'personal:data' %}">Récupérer les données</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="{% url 'logout' %}">Se déconnecter</a></li>
    </ul>
  </div>

</header>
