{% extends 'base.html' %}
{% load bootstrap %}


{% block content %}

<style type="text/css">
  #question-container {
    padding-top: 15px;
    margin: 0 auto;
    text-align: center;
    max-width: 50%;
    }

  .btn-round {
    width: 60px;
    height: 60px;
    max-width: 100%;
    max-height: 100%;
    font-size:20px;
    border-radius: 50%;
    position: fixed;
  }
  #previous-button {
    left: 2%;
    top: 30%;
  }
  #next-button {
    right: 2%;
    top: 30%;

  }

</style>
  <a href="{% url 'patient:detail' slug %}" style="border-radius: 0;" class="btn btn-dark"><</a>


  <button id="next-button" onclick="next()" class="btn btn-success btn-round">&rarr;</button>
  <button id="previous-button" onclick="previous()" class="btn btn-success btn-round">&larr;</button>

  <div id="question-container">

    {% for key, values in questions.items %}
        <div id="{{key}}" style="display: none;" class="btn-group-vertical">
          <h4> {{values.question}} </h4><hr>
          {% for ans in values.answers %}
            <input type="radio" class="btn-check" value="{{ans}}" name="options-outlined {{key}}" id="{{key}}-{{ans}}" autocomplete="off">
            <label class="btn btn-outline-secondary" for="{{key}}-{{ans}}">{{ans}}</label>
          {% endfor %}
        </div>
    {% endfor %}

    <div id="final" style="display: none; text-align: left;"> </div>
  </div>



<script type="text/javascript">
  var current_question_id = null;
  var rp = {};
  const none_output = "Condition non remplie.";
  set_default_responses();
  answer();

  function next() {
    var radios = document.getElementsByName("options-outlined " + current_question_id);
    for (var radio of radios) {
      if (radio.checked) {
        return answer(response=radio.value);
      }
    }
  }

  function previous() {
    // remove last response
    delete rp[Object.keys(rp)[Object.keys(rp).length-1]];
    return answer();
  }

  function set_default_responses(){
    for (const [key, value] of Object.entries({{default_responses | safe}})) {
      if (document.getElementById(key+'-'+value) != null) {
        document.getElementById(key+'-'+value).checked = true;
      }
    }
  }

  function show_response(response){
    var resp_id = response[0];
    var resp_text = response[1];

    var content = "";
    for (const [key, value] of Object.entries(resp_text)) {
      content += "<h4>" + key + "</h4><hr>";
      for (const line of value.split('. ')) {
        content += "<p>" + line + "</p>";
      }
    }
    document.getElementById(current_question_id).style.display = 'none';

    if (resp_id == 'final') {
      document.getElementById('next-button').style.display = 'none';
      document.getElementById('previous-button').style.display = 'inline';
      document.getElementById('final').style.display = 'inline';
      document.getElementById('final').innerHTML = content;
    }
    current_question_id = resp_id;
  }

  function show_question(question_id) {
    if (Object.keys(rp).length == 0){
      document.getElementById('previous-button').style.display = 'none';
    }
    else {
      document.getElementById('previous-button').style.display = 'inline';
    }

    document.getElementById('next-button').style.display = 'inline';
    document.getElementById(question_id).style.display = 'inline';
    if (current_question_id != null) {
      document.getElementById(current_question_id).style.display = 'none';
    }
    current_question_id = question_id;
  }


  function answer(response=null) {
    if (response != null) {
      rp[current_question_id] = response;
    }

    try {
      show_response(process_algo());
    } catch (question){
      show_question(question);
    }
  }

  function process_algo(){

    if (categorie('traitement1').includes('Antiagregant plaquettaire')) {

      if (G('traitement1') == "Aspirine, Asaflow, Cardioaspirine") {
        if (G('pathologie') == 'Prévention primaire') {
          return get_result(['Arrétez ou continuez.', 'Arrétez.', 'Arrétez.']); // ligne 1 (tableau 1)
        }
        else if (G('pathologie') == "Prévention secondaire" && G('traitement2') == 'Aucun') {
          return get_result(['Continuez.', 'Continuez.', 'Arrétez.']); //ligne 2 (tableau 1)
        }
      }
      else if (G('traitement1') == "Clopidogrel, PLAVIX" && G('pathologie') == "Prévention secondaire" && G('traitement2') == 'Aucun') {
        return get_result(['Continuez.', "Arrétez. Bridge par l'aspirine.", 'Arrétez.']); //ligne 3 (tableau 1)
      }
      else if (G('traitement1') == "Stents Cardiaques" && G('traitement2') != "Aucun") {
        if (G('stent_condition') != 'Autres') {
          return get_result(['Postpone the procedure. If impossible, continue the bitherapy.',
                             'Postpone the procedure. If impossible, stop the anti-P2Y12, continue the aspirin.',
                             'Postpone the procedure. If impossible, stop the bitherapy.']); //ligne 4 (tableau 1)
        }
        else {
          return get_result(['Continue the bitherapy.',
                             'Stop the anti-P2Y12. Continue the aspirin.',
                             'Stop the bitherapy.']); //ligne 5 (tableau 1)
        }
      }
    }
    else if (categorie('traitement1').includes('ACOD')) {
      if (categorie('traitement1').includes('AVK')) {
        if (G('thromboembolism_risk') == 'faible') {
          return get_result(['Continuation', 'Continuation']); // ligne 1 (tableau 2)
        }
        else if (G('thromboembolism_risk') == 'élevé') {
          return get_result(['Stop at J-3', 'Bridge at J-7']); // ligne 1 (tableau 2)
        }
      }

      var res_before = "";
      var res_after = none_output;

      if (G('bleeding_risk_2') == 'faible') {
        res_before = 'no taking the night before or the morning of the invasive gesture.';
        res_after = 'restart at the usual time and at least 6 hours after the end of the procedure.';
      }

      else if (G('bleeding_risk_2') == 'élevé') {

        // avant la procédure
        if ((categorie('traitement1').includes('xaban') || categorie('traitement2').includes('xaban')) && G('cockroft_1') == 'Oui') {
          res_before = "Dernière prise à J-3."; // ligne 1 (tableau 3)
        }

        if (G('traitement1') == "Dabigatran, PRADAXA" || G('traitement2') == "Dabigatran, PRADAXA") {
          if (G('cockroft_2') == "> 50 mL/min") {
            res_before = "Dernière prise à J-4." // ligne 2 (tableau 3)
          }
          else if (G('cockroft_2') == "30-49 mL/min") {
            res_before = "Dernière prise à J-5." // ligne 3 (tableau 3)
          }
        }

        // après la procédure
        if (categorie('traitement1').includes('thrombo') || categorie('traitement2').includes('thrombo')){
          res_after = "Anticoagulants at a prophylactic dose at least 6 hours after the procedure." // ligne 3 (tableau 3)
        }
        else {
          res_after = "Anticoagulants in curative doses as soon as haemostasis allows it." // ligne 4 (tableau 3)
        }
      }
      return ['final', {"Avant l'intervention": res_before + "No bridge. No dosage.",
                        "Après l'intervention": res_after}]
    }
    return ['final', {'Conclusion': none_output}]
  }


  function G(question_id) {
    if (question_id in rp) {
      return rp[question_id];
    }
    else {
      throw question_id;
    }
  }

  function categorie(question_id) {
    return {{questions.traitement1.answers | safe}}[G(question_id)];
  }

  function get_result(results) {
    var res = none_output;
    if (results.length == 3) {
      if (G('bleeding_risk_1') == 'faible'){
        res = results[0];
      }
      else if (G('bleeding_risk_1') == 'intermédiaire'){
        res = results[1];
      }
      else if (G('bleeding_risk_1') == 'élevé'){
        res = results[2];
      }
    }
    else if (results.length == 2) {
      if (G('bleeding_risk_2') == 'faible'){
        res = results[0];
      }
      else if (G('bleeding_risk_2') == 'élevé'){
        res = results[1];
      }
    }
    return ['final', {'Conclusion': res}]
  }

</script>

{% endblock content %}
