{% extends 'base.html' %}
{% load bootstrap %}


{% block content %}

<style type="text/css">
  #question-container {
    padding-top: 15px;
    margin: 0 auto;
    text-align: center;
    max-width: 50%;
    }

  .btn-round {
    width: 60px;
    height: 60px;
    max-width: 100%;
    max-height: 100%;
    font-size:20px;
    border-radius: 50%;
    position: fixed;
  }
  #previous-button {
    left: 2%;
    top: 30%;
  }
  #next-button {
    right: 2%;
    top: 30%;
  }

</style>
  <a href="{% url 'patient:detail' slug %}" style="border-radius: 0;" class="btn btn-dark"><</a>

  <button id="next-button" onclick="next()" class="btn btn-success btn-round">&rarr;</button>
  <button id="previous-button" onclick="previous()" class="btn btn-success btn-round">&larr;</button>

  <div id="question-container">
    <div class="progress">
      <div id="algo-progress" class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div><br>
    {% for key, values in questions.items %}
        <div id="{{key}}" style="display: none;" class="btn-group-vertical">
          <h4> {{values.question}} </h4><hr>
          {% for ans in values.answers %}
            <input type="radio" class="btn-check" value="{{ans}}" name="options-outlined {{key}}" id="{{key}}-{{ans}}" autocomplete="off">
            <label class="btn btn-outline-secondary" for="{{key}}-{{ans}}">{{ans}}</label>
          {% endfor %}
        </div>
    {% endfor %}

    <div id="final" style="display: none; text-align: left;"> </div>
  </div>


{% include 'algorithm/algorithm.html' %}

<script type="text/javascript">
  var current_question_id = null;
  var rp = {};
  var progress_value = 0;
  const progress_step = 20;
  const none_output = "Condition non remplie.";
  set_default_responses();
  answer();

  function next() {
    var radios = document.getElementsByName("options-outlined " + current_question_id);
    for (var radio of radios) {
      if (radio.checked) {
        update(progress_step);
        return answer(response=radio.value);
      }
    }
  }

  function previous() {
    // remove last response
    delete rp[Object.keys(rp)[Object.keys(rp).length-1]];
    update(-progress_step);
    return answer();
  }

  function set_default_responses(){
    for (const [key, value] of Object.entries({{default_responses | safe}})) {
      if (document.getElementById(key+'-'+value) != null) {
        document.getElementById(key+'-'+value).checked = true;
      }
    }
  }

  function show_response(response){
    var resp_id = response[0];
    var resp_text = response[1];

    var content = "";
    for (const [key, value] of Object.entries(resp_text)) {
      content += "<h4>" + key + "</h4><hr>";
      for (const line of value.split('. ')) {
        content += "<p>" + line + "</p>";
      }
    }
    document.getElementById(current_question_id).style.display = 'none';

    if (resp_id == 'final') {
      update('end');
      document.getElementById('next-button').style.display = 'none';
      document.getElementById('previous-button').style.display = 'inline';
      document.getElementById('final').style.display = 'inline';
      document.getElementById('final').innerHTML = content;
    }
    current_question_id = resp_id;
  }

  function show_question(question_id) {
    if (Object.keys(rp).length == 0){
      update('start');
      document.getElementById('previous-button').style.display = 'none';
    }
    else {
      document.getElementById('previous-button').style.display = 'inline';
    }

    document.getElementById('next-button').style.display = 'inline';
    document.getElementById(question_id).style.display = 'inline';
    if (current_question_id != null) {
      document.getElementById(current_question_id).style.display = 'none';
    }
    current_question_id = question_id;
  }


  function answer(response=null) {
    if (response != null) {
      rp[current_question_id] = response;
    }

    try {
      show_response(algorithm());
    } catch (question){
      show_question(question);
    }
  }

  function update(value){
    if (value == 'end') {
      progress_value = 100;
    } else if (value == 'start') {
      progress_value = 0;
    } else {
      progress_value += value;
    }
    document.getElementById("algo-progress").setAttribute('style', "width: " + progress_value + "%");
  }

  function G(question_id) {
    if (question_id in rp) {
      return rp[question_id];
    }
    else {
      throw question_id;
    }
  }

  function categorie(question_id) {
    return {{questions.traitement1.answers | safe}}[G(question_id)];
  }

</script>



{% endblock content %}
